{{#required}}{{^isReadOnly}}@NotNull{{#vendorExtensions.x-required-groups}}(groups = { {{{vendorExtensions.x-required-groups}}} }) {{/vendorExtensions.x-required-groups}}{{/isReadOnly}}{{/required}}{{#isContainer}}{{^isPrimitiveType}}{{^isEnum}}@Valid {{/isEnum}}{{/isPrimitiveType}}{{/isContainer}}{{^isContainer}}{{^isPrimitiveType}}@Valid {{/isPrimitiveType}}{{/isContainer}}{{>beanValidationCore}}